body {
  background-color: #1a1a1a;
}

input {
  width: 500px;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  background-color: #333333;
  color: white;
  box-sizing: border-box;
  border: 2px solid gray;
  outline: none;
}

input:focus {
  border: 2px solid white;
  box-shadow: 0 1px 1px 0 white, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
label {
  margin: 0px;
  color: white;
}

input,
label {
  display: block;
}


textarea {
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  background-color: #333333;
  color: white;
  box-sizing: border-box;
  border: 2px solid gray;
  outline: none;
  width: 500px;
  height: 300px;
}

.btn {
  width: 200px;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  background-color: #333333;
  color: white;
  box-sizing: border-box;
  border: 2px solid gray;
  outline: none;
}
