<div class="projectsSection">
  <div class="project NetPrint">
    <h1>Net Print</h1>
    <p class="languages">(C#, HTML, CSS)</p>
    <p class="description">
      Web MVC application that used the Facebook and Tumblr API to retrieve user
      posts. Displayed posts which included words that matched words in
      Microsoft Azure database Allowed Employers to identify candidates who had
      acceptable posts.
    </p>
  </div>
  <div class="project reFind">
    <h1>Crypto</h1>
    <p class="languages">(Kotlin, XML)</p>
    <p class="description">
      Android Application used to track crypto currency prices. RxJava and
      Retrofit used to make calls to Nomnics API.Currency information is
      displayed using custom Recycler View
    </p>
  </div>
  <div class="project">
    <h1>Library API</h1>
    <p class="languages">(C#)</p>
    <p class="description">
      A RESTful API that can be used to retrieve information about books. GET
      calls to the API can retrieve data for a list of all book in the database,
      all books in a category, and a random book. MVC template is used for
      connecting to database.
    </p>
  </div>
  <div class="project">
    <h1>Save Up</h1>
    <p class="languages">(Kotlin, XML)</p>
    <p class="description">
      Android Application used to keep track of personal budgets. Coroutines are
      used to store and retrieve data from Room database. Google Firebase
      Authentication is used to login.
    </p>
  </div>
</div>
